body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.buttons {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the button row */
    padding: 10px;
}

.container {
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 10px; /* Space between grid items */
    margin-top: 20px;
    display: grid; 
}

.element {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    display: auto;/* Ensure padding and border are included in the element's width and height */
}

[class^="booking-details"] {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 20px 0;
    display: auto;
}

[id^="calendar"] {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

[class^="time-picker"]  {
    display: none;
}
[id^="buton-"] {
    display: none;
}

[id^="info-input"] {
    display: none;
    resize: none;
    margin-top: 10px;
    margin-bottom: 12px;
    width: 100%;         /* Full width of the container */
    height: 150px;       /* Fixed height */
    padding: 10px;       /* Padding inside the textarea */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 4px;  /* Rounded corners */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    overflow-y: auto;    /* Enable vertical scrolling */
    overflow-x: hidden;  /* Hide horizontal scrolling */
}

[class^="checkbox-container-"] {
    margin-bottom: 10px;
    display: none;
}

[id^="time-selector-container"] {
    margin-top: 20px;
    width: 200px;
    max-height: 90px; /* Width of the time selector */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 5px; /* Optional: padding inside the container */
    position: relative;
    display: grid;
}

[id^="time-selector"] {
    display: flex;
    flex-direction: column;
}

[class^="time-option"] {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

[class^="time-option:hover"] {
    background-color: #f0f0f0;
}

[class^="time-option.selected"] {
    background-color: #d0d0d0;
}